.profile {
    display: flex;
    flex-direction: column;
    margin: 74px auto 0;
}

.profile__greeting {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0 auto 106px;
}

.profile__info {
    width: 410px;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px;
    padding: 0;
}

.profile__info-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile__info-item_underlined {
    border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__text {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: 17px 0 16px;
}

.profile__text-info {
    font-weight: 400;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    width: 200px;
    box-sizing: border-box;
    border: none;
    color: #ffffff;
    text-align: end;
}

.profile__button {
    border: none;
    padding: 0;
    background-color: rgba(32, 32, 32, 1);
    color: #ffffff;
    font-size: 13px;
    line-height: 16px;
    margin: 204px 0 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease;
}

.profile__button:hover {
    opacity: .8;
}

.profile__button:disabled {
    color: darkgray;
}

.profile__exit-button {
    color: rgba(238, 52, 101, 1);
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 70px;
}

@media screen and (max-width: 880px) {
    .profile__greeting {
        margin-top: 236px;
        margin-bottom: 79px;
    }

    .profile__info {
        margin-bottom: 194px;
    }

    .profile__exit-button {
        margin-bottom: 269px;
    }
}

@media screen and (max-width: 568px) {
    .profile__greeting {
        margin-top: 70px;
        margin-bottom: 63px;
    }

    .profile__info {
        margin-bottom: 363px;
    }

    .profile__exit-button {
        margin-bottom: 40px;
    }
}